<%= content_for :title do %>
	O que fazemos - CSilkBrindes
<% end %>

<!-- O QUE FAZEMOS -->
<div id="quemSomos">
	<h1>O que fazemos</h1>

	<p>A CSilk Brindes é uma empresa especializada em brindes promocionais e corporativos, oferecemos produtos serviços diferenciados para promover sua empresa, seu evento e presentear seus clientes.</p>

	<p>Fazemos o desenvolvimento do seu brindes personalizado, conforme a necessidade de cada cliente, oferecendo arte final sem custo adicional e layouts sem compromisso.</p>

	<p>Atuamos no ramo de serigrafia e outros serviços, para atendermos sua empresa de forma completa. Contamos uma grande variedade de produtos e serviços.</p>

	<p>Estamos no mercado para oferecer qualidade e satisfação a todos com serviços diferenciados.</p>

	<p>O diferencial da CSilk Brindes é a variedade de serviços em alta qualidade, para melhor atender as necessidades do cliente promovendo o conforto, segurança e comodidade.</p>

	<p>A CSilk Brindes oferece os seguintes serviços:</p>

	<ul class="listaFazemos">
		<li>Comercialização de Material Promocional / Brindes em Geral.</li>
		<li>Serigrafia ou Silk-Screen</li>
		<li>Gravação a Laser</li>
		<li>Gravação em Tampografia</li>
		<li>Gravação em Off Set</li>
		<li>Gravação em Baixo Relevo</li>
		<li>Gravação em Hot Stamping</li>
		<li>Verificação da Integridade do Produto</li>
		<li>Manuseio</li>
		<li>Montagem de Kits</li>
		<li>Armazenamento de Material</li>
		<li>Abastecimento e Padronização do PDV</li>
		<li>Posto de Troca</li>
		<li>Abordagem</li>
		<li>Degustação</li>
		<li>Demonstrações</li>
		<li>Distribuição de Amostras</li>
		<li>Repositores</li>
		<li>Promotores</li>
		<li>Blitz</li>
		<li>Pesquisas</li>
		<li>Campanhas</li>
		<li>Sorteios</li>
		<li>Feiras</li>
		<li>Exposições</li>
		<li>Eventos</li>
		<li>Recepções</li>
		<li>Formaturas</li>
		<li>Congressos</li>
		<li>Convenções</li>
		<li>Conferências</li>
		<li>Seminários</li>
		<li>Simpósios</li>
		<li>Workshop</li>
		<li>Eventos Corporativos</li>
		<li>Sinalização e Decoração</li>
		<li>Recepcionistas</li>
		<li>Projeto de stands</li>
		<li>Cenografia</li>
		<li>Inaugurações</li>
		<li>Confraternização</li>
	</ul>

	<p>Temos também Casting pronto para atendimento em Diversos segmentos.</p>
	<ul class="listaFazemos">
		<li>Modelos de Passarela</li>
		<li>Fotográfico</li>
		<li>Promotores</li>
		<li>Homens e Mulheres para Receptivos</li>
		<li>Supervisores</li>
		<li>Coordenadores</li>
		<li>Staff</li>
		<li>Barman</li>
		<li>Bartenders</li>
		<li>Comunicação Visual</li>
		<li>Lançamento de Produto</li>
	</ul>
</div>
<!-- / O QUE FAZEMOS -->