<%= content_for :title do %>
	O que fazemos - CSilkBrindes
<% end %>

<!-- O QUE FAZEMOS -->
<div id="quemSomos">
	<h1>O que fazemos</h1>

	<p>A CSilk Brindes é uma empresa especializada em brindes promocionais e corporativos, oferecemos produtos e serviços diferenciados para promover sua empresa, seu evento e presentear seus clientes.</p>

	<p>Fazemos o desenvolvimento do seu brindes personalizado, conforme a necessidade de cada cliente, oferecendo arte final sem custo adicional e layouts sem compromisso.</p>

	<p>Atuamos no ramo de serigrafia e outros serviços, para atendermos sua empresa de forma completa. Contamos uma grande variedade de produtos e serviços.</p>

	<p>Estamos no mercado para oferecer qualidade e satisfação a todos com serviços diferenciados.</p>

	<p>O diferencial da CSilk Brindes é a variedade de serviços em alta qualidade, para melhor atender as necessidades do cliente promovendo o conforto, segurança e comodidade.</p>

	<p>A CSilk Brindes oferece os seguintes serviços:</p>

	<ul class="listaFazemos">
		<li>Comercialização de Material Promocional / Brindes em Geral.</li>
		<li>Serigrafia ou Silk-Screen</li>
		<li>Gravação a Laser</li>
		<li>Gravação em Tampografia</li>
		<li>Gravação em Off Set</li>
		<li>Gravação em Baixo Relevo</li>
		<li>Gravação em Hot Stamping</li>
		<li>Verificação da Integridade do Produto</li>
		<li>Manuseio e Montagem de Kits</li>
		<li>Armazenamento de Material</li>
		<li>Abastecimento e Padronização do PDV</li>
		<li>Posto de Troca</li>
		<li>Abordagem</li>
		<li>Recepções</li>
		<li>Projeto de stands</li>
		<li>Cenografia</li>
	</ul>

	<p>Temos também Casting e Mão De Obra pronta para atendimento em Diversos segmentos;</p>

	<div id="guardaListasFazemosDuplas">
		<ul class="listaFazemosDupla">
			<li>Modelos de Passarela</li>
			<li>Promotores</li>
			<li>Coordenadores</li>
			<li>Barman</li>
			<li>Comunicação</li>
			<li>Lançamento de Produto</li>
			<li>Demonstrações</li>
			<li>Repositores</li>
			<li>Blitz</li>
			<li>Campanhas</li>
			<li>Feiras</li>
			<li>Eventos</li>
			<li>Congressos</li>
			<li>Conferências</li>
			<li>Simpósios</li>
			<li>Eventos Corporativos</li>
			<li>Recepcionistas</li>
			<li>Confraternização</li>
		</ul>
		<ul class="listaFazemosDupla">
			<li>Fotográfico</li>
			<li>Supervisores</li>
			<li>Staff</li>
			<li>Bartenders</li>
			<li>Visual</li>
			<li>Degustação</li>
			<li>Distribuição de Amostras</li>
			<li>Promotores</li>
			<li>Pesquisas</li>
			<li>Sorteios</li>
			<li>Exposições</li>
			<li>Formaturas</li>
			<li>Convenções</li>
			<li>Seminários</li>
			<li>Workshop</li>
			<li>Sinalização e Decoração</li>
			<li>Inaugurações</li>
		</ul>
	</div>

	<p>Entre em contato agora mesmo pelos telefones abaixo ou pelo e-mail saimom@csilkbrindes.com.br e não perca a oportunidade de solicitar sua cotação.</p>

	<p>
		Celular Claro - 99355-5212 <br/>
		Celular Oi - 96802-7626 <br/>
		Celular Tim - 98394-6980 <br/>
		Celular Vivo - 95638-2730
	</p>
</div>
<!-- / O QUE FAZEMOS -->