<%= content_for :title do %>
	O que fazemos - CSilkBrindes
<% end %>

<!-- O QUE FAZEMOS -->
<div id="quemSomos">
	<h1>O que fazemos</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam odio sit amet elit ornare varius. Fusce dignissim semper molestie. Nulla pretium quam et mauris bibendum at venenatis dolor varius.</p>
	<p>Nam feugiat ultricies nibh non feugiat. Aliquam eu leo id odio congue commodo id in neque. Maecenas non ligula ut mi congue facilisis. In sit amet placerat risus. Aliquam ligula diam, tempus congue luctus sit amet, pretium ac ante.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam odio sit amet elit ornare varius. Fusce dignissim semper molestie. Nulla pretium quam et mauris bibendum at venenatis dolor varius.</p>
	<p>Nam feugiat ultricies nibh non feugiat. Aliquam eu leo id odio congue commodo id in neque. Maecenas non ligula ut mi congue facilisis. In sit amet placerat risus. Aliquam ligula diam, tempus congue luctus sit amet, pretium ac ante.</p>
</div>
<!-- / O QUE FAZEMOS -->