<%= content_for :title do %>
	O que fazemos - CSilkBrindes
<% end %>

<!-- O QUE FAZEMOS -->
<div id="quemSomos">
	<h1>O que fazemos</h1>

	<p>A CSilk Brindes é uma empresa especializada em brindes promocionais e corporativos, oferecemos produtos serviços diferenciados para promover sua empresa, seu evento e presentear seus clientes.</p>

	<p>Fazemos o desenvolvimento do seu brindes personalizado, conforme a necessidade de cada cliente, oferecendo arte final sem custo adicional e layouts sem compromisso.</p>

	<p>Atuamos no ramo de serigrafia e outros serviços, para atendermos sua empresa de forma completa. Contamos uma grande variedade de produtos e serviços.</p>

	<p>Estamos no mercado para oferecer qualidade e satisfação a todos com serviços diferenciados.</p>

	<p>O diferencial da CSilk Brindes é a variedade de serviços em alta qualidade, para melhor atender as necessidades do cliente promovendo o conforto, segurança e comodidade.</p>

	<p>A CSilk Brindes oferece os seguintes serviços:</p>

	<p>Comercialização de Material Promocional / Brindes em Geral. Serigrafia ou Silk-Screen / Gravação a Laser / Gravação em Tampografia / Gravação em Off Set / Gravação em Baixo Relevo / Gravação em Hot Stamping. Verificação da Integridade do Produto / Manuseio / Montagem de Kits / Armazenamento de Materiais para Personalização e Gravação. Abastecimento e Padronização do PDV / Posto de Troca / Abordagem / Degustação / Demonstrações / Distribuição de Amostras / Repositores / Promotores. Blitz / Pesquisas / Campanhas / Sorteios / Feiras / Exposições / Eventos / Recepções / Formaturas / Congressos / Convenções / Conferências / Seminários / Simpósios / workshops / Eventos Corporativos. Sinalização e Decoração / Recepcionistas / Projeto de stands / cenografia / Inaugurações / Confraternizações.</p>

	<p>Cating pronto para atendimento em Diversos segmentos e disponibilizamos de Modelos de Passarela e Fotográfico / Promotores / Homens e Mulheres para Receptivos / Supervisores / Coordenadores / Staff / Barman / Bartenders / Comunicação Visual / Lançamento de Produto.</p>
</div>
<!-- / O QUE FAZEMOS -->