<%= content_for :title do %>
	<title>CSilkBrindes</title>
<% end %>

<div id="centraliza">
	<%= image_tag 'logo2.png' %>
	<p> Site em construção.<br/> Para maiores informações, entre em contato com <a href="mailto:contato@csilkbrindes.com.br">contato@csilkbrindes.com.br</a> </p>
</div>
