<%= content_for :title do %>
	Quem somos - CSilkBrindes
<% end %>

<!-- QUEM SOMOS -->
<div id="quemSomos">
	<h1>Quem somos</h1>
	<p>A empresa CSilk Brindes foi fundada por profissionais qualificados e com experiência no mercado de brindes promocionais. É uma empresa nova e que inicia suas atividades com o know-how de pessoas capacitadas e prontas para lhe oferecer as melhores soluções e opções de materiais promocionais e outros serviços para melhor resultado.</p>

	<p>Conta com infraestrutura completa voltada para entregar seus pedidos sempre no prazo combinado, independente da demanda ou porte do cliente. Todos os brindes personalizados são desenvolvidos com a mais alta tecnologia, o que permite a criação de produtos com design e preços competitivos, acabamento perfeito e uma qualidade incomparável, analisamos também a necessidade e finalidade do brinde para o melhor resultado imediato.</p>

	<p>Além disso, também trabalhamos com grandes fornecedores para garantir a utilização de matérias-primas selecionadas e que façam a diferença durante os processos de gravação, garantindo assim um resultado acima da média.</p>

	<p>Invista nos brindes personalizados da CSilk Brindes e tenha uma importante ferramenta de Lançamento de Produtos, Alavancagem de Vendas, Feiras, Eventos, Congressos, Fixação de Logomarcas, Institucional em Ponto de Venda, Marketing em Eventos, promoções e diversas outras ocasiões. Sua marca é valorizada e passa a fazer parte do dia a dia de clientes e fornecedores. </p>

	<p>Nosso objetivo é agregar originalidade, qualidade, bom gosto e bons preços à praticidade, produzindo lindos efeitos a tudo que é necessário para corresponder às suas expectativas, sempre com atendimento personalizado.</p>

	<p>Afinal, a CSilk Brindes quer estar cada vez mais perto de você!</p>

	<p><strong>Missão</strong><br/>
	Agregar valores, assegurar qualidade, prover recursos e melhorias para atender os princípios e expectativas do cliente e desenvolver seus recursos humanos e ambientais.</p>

	<p><strong>Visão</strong><br/>
	Bom atendimento, qualidade, confiança, agilidade, pontualidade, seriedade e segurança aos serviços prestados.</p>

	<p><strong>Filosofia</strong><br/>
	Melhorar continuamente a qualidade dos nossos serviços, processos e eficácia, utilizando de recursos e novas tecnologias.</p>

	<p><strong>Politica De Qualidade</strong><br/>
	Fortalecer a parceria com nossos clientes, tendo como principal objetivo o atendimento às suas expectativas e necessidades, aprimorando os processos produtivos e administrativos, com envolvimento dos colaboradores e, buscando a melhoria contínua dos serviços e da qualidade.</p>

	<p><strong>Objetivo da Qualidade</strong><br/>
	Atender as necessidades dos clientes, aprimorar processos produtivos e administrativos, promover o envolvimento dos colaboradores aproveitando bem a energia e o talento de seu pessoal, buscar a melhoria contínua dos serviços prestados e desenvolvidos para melhor atende-los sempre com qualidade e eficiência.</p>

	<!-- COMPARTILHE -->
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-510993a729c33b12"></script>
	<!-- AddThis Button END -->
	<!-- / COMPARTILHE -->
</div>
<!-- / QUEM SOMOS -->