<%= content_for :title do %>
	Projeto Social - CSilkBrindes
<% end %>

<!-- QUEM SOMOS -->
<div id="quemSomos">
	<h1>Projeto Social</h1>

	<p>A CSilk Brindes com o objetivo de transformar novas gerações de Vidas e Familias, buscamos contribuir com a Igreja Apostólica Casa Firme com alimentos e outros recursos tendo a visão e princípios Biblicos e cristão juntamente com os Jovens Cafi para a realização.</p>

	<p>Com essa geração sendo transformadas, conseguimos dar uma base sobre o futuro e a visão para se tornar otmistas e pessoas produtivas para a sociedade.</p>

	<p>Nosso objetivo com a sociedade juntamente com os Jovens Cafi é a Transformação de Vidas e Famílias Carentes da região da Igreja e de outros lugares.</p>

	<p>Venha conhecer e fazer parte dessa transformação no endereço: Av. do Cursino, 2537 - Jd. da Saúde - São Paulo · SP · CEP 04133-200 - SEDE Telefone + 55 11 3775-2600.</p>
</div>
<!-- / QUEM SOMOS -->