<%= content_for :title do %>
	Sustentabilidade - CSilkBrindes
<% end %>

<!-- QUEM SOMOS -->
<div id="quemSomos">
	<h1>Sustentabilidade</h1>

	<p><b>Desenvolvimento Sustentável</b><br/>
	A CSilk Brindes, vem trabalhando fortemente pelo desenvolvimento sustentável, busca atender as necessidades das futuras gerações e criar um novo conceito para gerar Sustentabilidade corretamente para resultados positivos e iniciativas na área de preservação ambiental, responsabilidade sociale investimentos em pessoas.</p>

	<p><b>Dentro De Casa / Dentro Da CSilk Brinde</b><br/>
	Para a CSilk Brindes, entre todas as responsabilidades que compõem a sustentabilidade individual, social, ambiental e econômica, a individual é primordial para que seja de seus funcionários ou de seus fornecedores a preocupação para buscar o resultado e envolver os colaboradores no centro de tudo o que faz é a base da missão da empresa: melhorar a qualidade de vida das pessoas.</p>

	<p><b>Economia sustentável</b><br/>
	A Sustentabilidade da CSilk Brindes é voltada para os negócios sustentáveis que aqueles que satisfazem as necessidades das gerações presentes sem comprometer as futuras e sim, oferecendo credibilidade e benefícios ao mercado, obtendo ou não retorno ﬁnanceiro.</p>

	<p>A CSilk Brindes é parceira com a sociedade e busca profundamente participar de ações para desenvolver os seus setores com a sociedade.</p>

	<p>Buscamos o reconhecimento dos resultados dos serviços realizados para o retorno que signiﬁca bons negócios a Curto Prazo, Médio Prazo e Longo Prazo, já que a CSilk Brindes tem grande possibilidade de enfrentar com sucesso os possíveis riscos que possam ser gerados por problemas ambientais, econômicos e sociais.</p>

	<p><b>Para a Comunidade</b><br/>
	Todavia, o desenvolvimento sustentável que começa dentro da empresa necessariamente precisa atingir a comunidade.</p>

	<p>E a CSilk Brindes é muito mais que uma empresa de material promocional, mas sim, envolve profundamente com todos os setores da sociedade Governo, Empresas Privadas e ONG’s, buscando aperfeiçoar as práticas existentes e atingir um público cada vez maior, por ter consciência do quanto uma organização de ponta dispõe de recursos ﬁnanceiros, humanos e tecnológicos para gerir programas sociais.</p>
</div>
<!-- / QUEM SOMOS -->