*{ margin:0px; padding:0px; border:0px; }
ul, ul li{
	list-style-type:none;
}

#wrapperAdmin{
	width:990px;
	margin:0 auto;
}

input{
	border: 1px solid #999;
}

/* LOGO */
#logoAdmin{
	width:100%;
	float:left;
	text-align: center;
	padding:10px 0px 10px 0px;
}

/* TELA LOGIN */
#guardaTelaLogin{
	float: left;
	width:100%;
	padding:70px 0px;
}

#guardaTelaLogin #telaLogin{
	width:260px;
	margin:0px auto;
}

/* MENU */
#menuAdmin{
	float: left;
	width:100%;
	padding:0px 0px 10px 0px;
}
#menuAdmin ul{
	float: left;
	width:100%;
	background:#F0E68C;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
}

#menuAdmin ul li{
	float: left;
	padding:0px 7px 0px 7px;
}


#menuAdmin ul li a{
	float: left;
	color:#191970;
	padding:10px 8px 10px 8px;
	font-weight:bold;
}

#menuAdmin ul li a:hover{
	background:#191970;
	text-decoration:none;
	color:#FFD700;
}

/* CONTEUDO */
#wrapperAdmin h1{
	float: left;
	width:100%;
	padding:10px 0px;
	font-weight:bold;
	text-transform:uppercase;
	color:#191970;
}

#guardaListagens{
	float:left;
	width:100%;
}

#guardaListagens table{
	width:990px;
	float:left;
	border:1px solid #B0C4DE;
}

#guardaListagens table tr{
	float:left;
	width:990px;
	border-bottom:1px solid #B0C4DE;
}

#guardaListagens table tr.ultimaTr{
	border-bottom:0px;
}

#guardaListagens table tr#firstTr{
	background:#B0C4DE;
}

#guardaListagens .deletar{ color:#f00; }

#guardaListagens #novoItem{
	float:left;
	padding:5px 10px;
	display:inline;
	margin:10px 0px 0px 0px;
	background:#006400;
	color:#fff;
}

#guardaListagens table th,
#guardaListagens table td{
	float:left;
	width:20%;
	padding:3px 0px;
	text-align:center;
}

/* RODAPE */
#rodapeAdmin{
	float: left;
	width:100%;
	text-align:center;
	background:#F0E68C;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	padding:10px 0px;
	display:inline;
	margin:30px 0px 0px 0px;
}

.novoItemContato{
	background:#F0E68C;
}