<!DOCTYPE html>
<html>
<head>
  <title>CSilkBrindes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "home_admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
